{# -*-Jinja2-*-  -#}
<html>
<head>
  <title>list - Techno Is The Word</title>
</head>
<body>
  <h1>Word List</h1>

  <table style="width: 100%">
<thead>
  <td><a href="?sort=alpha">Word</a></td>
  <td>Last State</td>
  <td>Updated</td>
  <td><a href="?sort=requested">Requested</a></td>
  <td>IP</td>
</thead>

{% for w in words %}
<tr>
  {% if w.completed %}
  <td><strong><a href="{{ w.completed }}">{{ w.word }}</a></strong></td>
  {% else %}
  <td><strong>{{ w.word }}</strong></td>
  {% endif %}
  <td>{{ w.status }}</td>
  <td><small>{{ w.updated|datetime }}</small></td>
  <td><small>{{ w.requested|datetime }}</small></td>
  <td>{{ w.ip }}</td>
</tr>
{% endfor %}
  </table>

</body>
</html>
