{# -*-Jinja2-*-  -#}
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie bad-ie ie6" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie bad-ie ie7" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie bad-ie ie8" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if (gte IE 9)]>    <html lang="en" class="no-js ie ie9" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[!(IE)]><!--> <html lang="en" class="no-js" xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if no_cache %}
  <meta http-equiv="Cache-Control" content="private, max-age=0, no-cache, no-store, must-revalidate, proxy-revalidate" />
  <meta http-equiv="Expires" content="Mon, 26 Jul 1997 03:00:00 GMT" />
  {% endif %}
  <title>{% block title %}Techno Is The Word!{% endblock %}</title>
  <meta name="description" content="{% block metaDescExtra %}A word-munging, techno-focused generative music hack.{% endblock %}">
  <meta name="author" content="Anthony Bowyer-Lowe, lowbroweye, Low Brow Eye, ynohtna, yoknapatawpha, ArboriaAuralist, Aleph Null">
  <meta name="keywords" content="techno, generative, music, word, lowbroweye, ynohtna,{% block keywords -%}{%- endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!--[if IE]>
	  <meta http-equiv="imagetoolbar" content="no">
	  <meta name="msapplication-tooltip" content="{{ self.title() }}">
	  <meta name="msapplication-starturl" content="http://techno-is-the-word.appspot.com/?pinned=true" />
  <![endif]-->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="author" type="text/plain" href="/humans.txt">
  <link rel="canonical" href="http://techno-is-the-word.appspot.com">
  <link rel="stylesheet" href="/css/theme.css?v={{ settings.APP_FULL_VERSION_ID }}">
  {% block headExtra %}{% endblock %}
  {% block headScript %}{% endblock %}
</head>
<body class="{% block pageClass %}{% endblock %}{% if on_dev %} on_dev{% endif %}">

{% block header %}{% endblock %}

<section id="main">
{% block body %}
TECHNO IS THE WORD
{% endblock %}
</section>

<footer>
{% block footer %}
An <a href="http://lowbroweye.com">Anthony Bowyer-Lowe</a>
/ <a href="http://lowbroweye.com">Low Brow Eye</a>
hack @ Music Hack Day London, 2011.
{% endblock %}
</footer>

{% block footerScript %}{% endblock %}

<!-- Google Analytics & Quantcast -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27776627-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
var _qevents = _qevents || [];
(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();
_qevents.push({
qacct:"p-77jE3SXx1EYzA"
});
</script>
<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-77jE3SXx1EYzA.gif" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>

</body>
</html>
