{# -*-Jinja2-*-  #}
{% extends "base.html" %}

{% block body %}
<canvas id="canvas">
  <p>Your browser needs to support HTML5 canvas for this, comrade.</p>
  <p>Techno requires technology, you dig?</p>
</canvas>
{% endblock %}

{% block footerScript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-1.6.4.min.js">\x3C/script>')</script>
<script src="/js/display.js?v={{ now }}"></script>
<script src="/js/font.js?v={{ now }}"></script>
<script src="/js/techno.js?v={{ now }}"></script>
<script>
(function ($) {
  $('#canvas').techno({
	fg: '#80a572',
	hi: '#f0fff1',
    bg: '#171c16',
    alt: '#b8dbba',
	alt1: '#debf22',
	alt2: '#de6d22',
	cur: '#fe8800'
  });
}(jQuery));
</script>
{% endblock %}
