html, body {
	margin: 0;
	padding: 0;
	font: 13px/1.231 sans-serif;
	font-family: monospace;
	line-height: 1.5em;
	vertical-align: baseline;
}

body {
	color: #474c46;
	background-color: #171c16;
}

img {
	border: 0;
}

a,
a:visited,
a:active {
	color: #575c56;
	text-decoration: none;
	border-bottom: 1px dashed #575c56;
}
a:hover {
	color: #676c66;
	border-bottom: none;
}

#main {
	position: absolute;
	top: 0;
	bottom: 2.5em;
	width: 100%;
}

footer {
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
	padding-top: 4px;
	background-color: #151a14;
	border-top: 1px solid #111711;
}

#canvasContainer {
	position: relative;
	width: 100%;
	height: 100%;
}
#canvasLog,
#canvasSeq {
	position: absolute;
	width: 100%;
	height: 100%;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
}

#cursorCapture {
	position: absolute;
	width: 100%;
	height: 100%;
}
.sequencer #cursorCapture,
.sequencer-ready #cursorCapture {
	cursor: pointer;
}
#canvasSeq {
	display: none;
}
.sequencer #canvasSeq {
	display: block;
}